.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../images/icon/phone.png);
    margin-right: 20px;
    width: 24px;
    height: 24px;
    @include onTablet {
      width: 40px;
      height: 40px;
    }
  }      

  &--menu {
    background-image: url(../images/icon/close.png);
    @include onTablet {
      width: 40px;
      height: 40px;
    }

    &:hover {
       background-image: url(../images/icon/open.png);
       width: 32px;
       height: 32px;
       @include onTablet {
        width: 40px;
        height: 40px;
      }
    }
  }
}
